
<!--get css tag-->
<link rel="stylesheet" type="text/css" href="application.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!--title of game-->
<h1 class="h1"> 음식으로 알아보는 미래 예언 ! </h1>

<!--description of game-->
<h3 class="h3"> 
    <p> 당신이 좋아하는 음식을 골라주세요. </p>
    <p> 음식을 통해 당신의 미래를 예측해드립니다! </p> 
</h3>

<p> 이미지를 골라주세요! </p>

<!--selection of image--> 
<div class="img">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" > <a href="result1">
          <img src="<%= image_path 'ham.jpg'%>" alt="hamburger" /> </a> </button>
      <button type="button" class="btn btn-default"> <a href="result1">
          <img src="<%= image_path 'chicken.png'%>" alt="chicken" /> </a></button>
      <button type="button" class="btn btn-default"> <a href="result1">
          <img src="<%= image_path 'don.jpg'%>" alt="donggass" /> </a> </button> <br />
      <button type="button" class="btn btn-default"> <a href="result1">
          <img src="<%= image_path 'nang.jpg'%>" alt="nang-myeon" /> </a> </button>
      <button type="button" class="btn btn-default"> <a href="result1">
          <img src="<%= image_path 'sam.jpg'%>" alt="samgyeopsal" /> </a> </button>
      <button type="button" class="btn btn-default"> <a href="result1">
          <img src="<%= image_path 'vegi.jpg'%>" alt="vegitable" /> </a> </button>
          
          <!--test-->
          <!-- <button type="button" class="btn btn-default" onclick="location.href='www.naver.com'">-->
          <!--<img src="assets/vegi.jpg" alt="vegitable" /> </button>-->
          
          
           
    </div>
</div>

